body {
	background-color: White;
	background-image: url(../img/mac-air.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 50% 30%;
	}

.div1 {
    width: 300px;
    height: 50px;
    border: 1px solid blue;
    padding: 20px;
	background-color: navy;
	color: white;
}

.terminal{
    width: 380px;
    height: 100px;
    padding: 10px;
	background-color: #1C1C1C;
	color: #EEEEEE;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	font: 13px arial, sans-serif;
	position: absolute;
    top: 51%;
    left: 37%;
    border: 3px solid #FAF2E8;
	
	
}

.div2 {
    width: 500px;
    padding: 5px;
	border: 1px #CCCCCC;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	background:#E0E0E0r;
}

.element {
	background-color: #E8E8E8;
	padding: 0;
	border-radius:7px;
	position: absolute;
    top: 19%;
    left: 27%;
    width: 520px;
    height: 258px;
    border: 3px solid #8AC007;
	
}

.element1 {
	width: 500px;
	height: 105px;
	padding: 1px;
	background-color: #E8E8E8;
	position: relative;	
	border-radius:7px;
	box-shadow: 0px 3px 5px 1px rgba(91, 146, 163, 0.23);
}

.codeBox{
    overflow: auto;
    margin: 2px 0;
    padding: 0;
    border: solid 1px #65;
    color: black;
}

#imgA{
	background-image:url("img/aviao.png");
	width: 80px;
    height: 50px;
}

.air {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: -1;
}

